entrypoint = "main.py"
modules = ["nodejs-20", "postgresql-16", "python-3.11", "python3"]

[nix]
channel = "stable-24_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Run"
author = 36270138
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -c \"import socket; s = socket.socket(); s.bind(('0.0.0.0', 0)); print(f'Available port: {s.getsockname()[1]}'); s.close()\" && python main.py"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask Server"

[[workflows.workflow]]
name = "Flask Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33909
externalPort = 5173

[[ports]]
localPort = 35117
externalPort = 3002

[[ports]]
localPort = 40779
externalPort = 6000

[[ports]]
localPort = 41679
externalPort = 3001

[[ports]]
localPort = 43511
externalPort = 4200

[[ports]]
localPort = 44567
externalPort = 3003

[[ports]]
localPort = 44983
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 46081
externalPort = 5000

[agent]
expertMode = true
integrations = ["flask_stripe:1.0.0"]
