entrypoint = "main.py"
modules = ["nodejs-20", "postgresql-16", "python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["libxcrypt"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Run"
author = 36270138
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -c \"import socket; s = socket.socket(); s.bind(('0.0.0.0', 0)); print(f'Available port: {s.getsockname()[1]}'); s.close()\" && python main.py"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask Server"

[[workflows.workflow]]
name = "Flask Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 43937
externalPort = 3001

[[ports]]
localPort = 44983
externalPort = 3000
exposeLocalhost = true

[agent]
expertMode = true
integrations = ["github:1.0.0"]
