
websockets==12.0

openai==1.57.0
opentelemetry-instrumentation-openai==0.33.12
livekit-plugins-openai==0.10.9
llama-index-llms-openai-like==0.3.0
firebase-admin
flask
flask-restx
flask-socketio
psycopg2-binary
pytz
qrcode
requests
stripe
web3
python-dotenv
pillow
qrcode
qrcode
qrcode[pil]
qrcode[pil]
resend
user-agents
mcp
passlib
python-jose[cryptography]
sse-starlette
fastapi
pydantic
starlette
uvicorn
